
DEV_S3_BUCKET_FOR_GROUPS_MAP=
DEV_VPC_SG_ID=sg-12345678
DEV_VPC_SUBNET1=subnet-12345678
DEV_VPC_SUBNET2=
DEV_VPC_SUBNET3=

PROD_S3_BUCKET_FOR_GROUPS_MAP=
PROD_VPC_SG_ID=
PROD_VPC_SUBNET1=
PROD_VPC_SUBNET2=
PROD_VPC_SUBNET3=
